.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color:   #58D68D;
  color: #42805c;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
